:root {
  /* color schemes */
  --primary-clr: #001754;
  --secondary-clr: #818696;
  --white: #fff;
  --black: #000;
  --blue: #0062ff;
  --lightblue: #91bbff;
  --green-dark: #03a10a;
  --green-light: #44ce42;
  --background-clr: #f0f1f6;
  --background-sidebar: #161621;

  /* font-weight */
  --fw-n: 300;
  --fw-m: 600;
  --fw-l: 800;

  /* font-sizes */
  --fs-2: 5rem;
  --fs-3: 2rem;
  --fs-p: 1rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "nunito-regular", sans-serif;
}

body {
  background: var(--background-clr);
  display: -webkit-box;
  /* overflow-x: hidden; */
}

li,
a {
  list-style-type: none;
  text-decoration: none;
}

input,
select {
  transition: border 200ms ease-in-out;
}

.wrapper {
  /* width: 100%; */
  /* max-width: 1000px; */
  padding: 2.8rem;
  margin-top: calc(60px + 1rem);
  padding-top: 0;
}

@media only screen and (max-width: 768px) {
  .wrapper {
    padding-top: 1em;
  }
}

.page-header {
  margin: 1rem 1rem 1.5rem 1rem;
}

.page-body {
  padding: 2.5rem;
  background: var(--white);
}
