:root {

    /* color schemes */
    --primary-clr: #001754;
    --secondary-clr: #818696;
    --white: #fff;
    --black: #000;
    --blue: #0062FF;
    --lightblue: #91bbff;
    --green-dark: #03A10A;
    --green-light: #44CE42;
    --background-clr: #f0f1f6;
    --background-sidebar: #161621;


    /* font-weight */
    --fw-n: 300;
    --fw-m: 600;
    --fw-l: 800;

    /* font-sizes */
    --fs-2: 5rem;
    --fs-3: 2rem;
    --fs-p: 1rem;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background: var(--background-clr);
    font-family: 'Poppins', sans-serif;
    color: var(--primary-clr);
}

.barangay-logo {
    width: 10%;
    height: 20%;
    max-width: 100px;
    max-height: 100px;
    border-radius: 50%;
}

.indang-logo {
    width: 20%;
    height: 20%;
    max-width: 100px;
    max-height: 100px;
    border-radius: 50%;
}

header {
    display: flex;
    background: white;
    gap: 2rem;
    justify-content: center;
    align-items: center;
    padding: 1rem 0 1rem 0;
}

header div p {
    text-align: center;
}

nav {
    background: white;
    padding-top: .3rem;
}

nav ul li {
    list-style: none;
}

nav ul li a {
    text-decoration: none;
    color: var(--primary-clr);
    text-transform: uppercase;
}

nav ul {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2px;
}

.nav-item {
    /* border: 1px solid #eee; */
    border-top: none;
    cursor: pointer;
    transition: .2s ease-in-out;
    border-radius: 5px 5px 0 0;
    /* margin-bottom: .5rem; */
}

.nav-item a {
    display: block;
    padding: .8rem 1.5rem;
}

.nav-item:hover {
    background: #eee;
}

.nav-item.active {
    border-bottom: 3px solid #696969;
}

/*-------------------------------------------------------------------*/
/* Hero Section */

.hero {
    background-image: url(../images/hero-img.jpg);
    background-size: cover;
    background-position: top center;
    min-height: calc(95vh - 200px);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 7% 0 1rem 10%;
    color: white;
    position: relative;
    z-index: 1;
}

.hero::after {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    content: '';
    z-index: -1;
    background-color: rgba(30, 114, 164, .65);
}

.hero__title {
    font-size: clamp(3.5rem, 2vw + .5rem, 1rem);
}

.hero__p {
    width: 70%;
}

.hero__button {
    background: white;
    border: none;
    cursor: pointer;
    padding: .5rem 1.5rem;
    margin-top: 1rem;
    font-family: 'Poppins', sans-serif;
}

.hero__button:hover {
    background: #eee;
}

/*-------------------------------------------------------------------*/
/* Cards -  Objectives */
.cards {
    display: flex;
    flex-wrap: wrap;
    gap: 3rem;
    min-height: 60vh;
    justify-content: center;
    /* align-items: center; */
    padding: 1rem;
    padding-top: 3em;
    padding-bottom: 3em;
}


.card {
    width: 25%;
    background-color: white;
    padding: 1rem 1.2rem;
    box-shadow: 0px 1px 10px 0px rgba(110, 110, 110, 0.2);
    border-radius: 5px;
}

.card__title {
    text-align: center;
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 1rem;
}

.card__body {
    font-size: 14px;
}


/*-------------------------------------------------------------------*/
/* Pie Chart */
.graph {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: white;
    align-items: center;
    justify-content: center;
    padding-top: 8%;
    padding-left: 10%;
    overflow: hidden;
}

.graph h1 {
    align-self: flex-start;
    color: var(--primary-clr);
}

/*-------------------------------------------------------------------*/
/* Footer */
footer {
    text-align: center;
    padding: 2rem .5rem;
}

/* About page dropdown */

.dropdown-btn {
    position: relative;
    cursor: pointer;
    text-transform: uppercase;
    padding: .8rem 2.2rem .8rem 1.5rem;
}

.dropdown-btn::after {
    position: absolute;
    content: "\f0d7";
    right: 5px;
    padding-right: .5rem;
    top: 50%;
    transform: translateY(-60%);
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
}

.nav-item.dropdown {
    position: absolute;
    display: flex;
    flex-direction: column;
    transform: translateX(-30px);
    margin-top: 1rem;
    min-width: 200px;
    background: var(--white);
    display: none;
    box-shadow: 0px 3px 21px 0px rgb(0 0 0 / 20%);
    padding: .5rem;
    z-index: 1000;
}

.dropdown .dropdown-item {
    color: var(--primary-clr);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    font-weight: var(--fw-m);
    text-decoration: none;
}

.dropdown .dropdown-item:hover {
    background: #efefef;
}

.dropdown:hover {
    background: white;
}

.dropdown.show {
    display: flex;
}

a {
    text-decoration: none;
    color: var(--black);
}


@media only screen and (max-width: 768px) {
    .card {
        width: 100%;
    }

}