ul,
ol {
  margin: 0;
}

a {
  text-decoration: none !important;
  color: black;
}

.close {
  opacity: 1;
}

.close:hover {
  opacity: 1;
}

.close {
  float: none;
  font-size: 1rem;
  font-weight: normal;
  line-height: 20px;
  /* color: #000000; */
  text-shadow: none;
  opacity: 1;
}

p {
  font-size: 1rem;
}
