.head {
    text-align: center;
    border-bottom: solid 2px black;
}

.body {
    text-align: center;
    margin-top: 1rem;
}

.body textarea {
    margin-top: 2rem;
}

.fieldBtn {
    display: flex;
    justify-content: end;
    margin-right: 14rem;
}

.fieldBtn a {
    text-decoration: none;
    color: black;
}

.fieldBtn a:hover {
    text-decoration: none;
    color: black;
}


.whole {

    width: 45%;
    padding: 40px;
    border: solid 2px black;
    border-radius: 6px;
}