.signup-body {
    background-color: var(--background-clr);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.signup {
    width: 100%;
    max-width: 400px;
    background-color: var(--white);
    padding: 3rem;
}

.signup__p1 {
    color: var(--primary-clr);
    font-weight: var(--fw-m);
    font-size: 1.25rem;
    margin-bottom: 0.5rem;
}

.signup__p2 {
    color: var(--secondary-clr);
    font-weight: var(--fw-n);
    font-size: 0.9rem;
    margin-bottom: 1.5rem;
}

.signup__form div {
    margin-bottom: 1rem;
}

.signup__form input {
    padding: 0.94rem 1.94rem;
    width: 100%;
    border: 1px solid #ddd;

}

.signup__form input::placeholder,
.signup__form input {
    font-size: .9375rem;
    color: var(--black);
}

.signup__form input:focus {
    outline: none !important;
    border-color: var(--lightblue);
}

.signup__form button {
    cursor: pointer;
    width: 100%;
    background: var(--blue);
    border: none;
    padding: 0.94rem 1.94rem;
    color: var(--white);
    font-weight: var(--fw-m);
    margin-bottom: 1rem;
}

.signup__form button:hover {
    background: #0053D9;
}

.create-account {
    display: flex;
    align-items: center;
    justify-content: center;
}

.create-account span {
    color: var(--secondary-clr);
    margin-right: 5px;
}

.create-account a {
    color: var(--blue);
}

.create-account a:hover {
    text-decoration: underline;
    color: #0053D9;
}