/* popup  */

.officials {
  position: relative;
}

.modal-bg {
  position: absolute;
  width: 100%;
  top: -76px;
  left: 50%;
  transform: translateX(-50%);
  visibility: hidden;
  opacity: 0;
  background-color: rgb(0, 0, 0, 0.5);
  min-height: calc(100vh - 76px);

  /* remove later */
  /* visibility: visible;
    opacity: 1; */
}

.modal-bg-active {
  visibility: visible;
  opacity: 1;
}

.popup {
  position: absolute;
  top: -100%;
  left: 50%;
  transform: translateX(-50%) scale(0);
  background: var(--white);
  width: calc(100% - 2.8rem);
  max-width: 1000px;
  padding: 2.5rem;
  transition: transform 0.4s, top 0.4s;
  z-index: 1;

  /* remove later */
  /* top: 0;
    visibility: visible;
    transform: translateX(-50%) scale(1); */
}

.open-popup {
  top: 0;
  visibility: visible;
  transform: translateX(-50%) scale(1);
}

.close-popup {
  position: absolute;
  top: -10px;
  right: -10px;
  width: 35px;
  height: 35px;
  background: var(--background-sidebar);
  color: var(--white);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  cursor: pointer;
}

.close-popup i {
  font-weight: 900;
  font-size: 0.7rem;
}
