.barangay-logo {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.barangay-logo img {
  border-radius: 50%;
  width: 100px;
  height: 100px;
}

.barangay-name {
  margin: 0;
  font-weight: bold;
  letter-spacing: 2px;
  line-height: normal;
}

.page-title {
  font-size: 1.17em;
  font-weight: bold;
}

.logo-img {
  padding-top: 0 !important;
}

.logo-img img {
  max-width: 50px;
}

p {
  margin: 0;
}

ol,
ul {
  padding-left: 0;
}

.dataTables_wrapper .dataTables_length select {
  border: 1px solid #aaa !important;
  border-radius: 3px;
  padding: 4px 25px 4px 10px !important;
  background-color: transparent;
}
