
/* Modal styles */
.modal {
  padding-left: 20px;
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgba(0,0,0,0.4); /* Black background with opacity */
  }
  
  .modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 40px;
    border: 1px solid #888;
    width: 40%; /* Could be more or less, depending on screen size */
  }
  
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }
  
  /* Button styles */
  button.modal-btn {
    padding-left: 20px;
    background-color: #2C6AFA;
    color: white;
    padding: 6px 32px;
    border: none;
    
    cursor: pointer;
    font-size: 16px;
  }
  
  button.modal-btn:hover {
    background-color: #1d3f91;
  }

  .index-btn {
    padding-left: 20px;
    background-color: #2C6AFA;
    color: white;
    padding: 6px 32px;
    border: none;
    
    cursor: pointer;
    font-size: 16px;
  }
 
  .index-btn:hover {
    background-color: #1d3f91;
  }
  .update-index-btn{
    padding-left: 20px;
    background-color: #1d3f91;
    color: white;
    padding: 6px 32px;
    border: none;
    
    cursor: pointer;
    font-size: 16px;
  }
  /* Form styles */
  .form-group {
    margin-bottom: 15px;
  }
  
  .form-control {
    display: block;
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  select.form-control {
    height: 42px;
  }
  
  input[type=submit] {
    background-color: #2C6AFA;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
  }
  
  input[type=submit]:hover {
    background-color: #1d3f91;
   
  }
  
  .borderless {
    border: none;
    outline: none;
  }
  
  .textarea {
    width: 100%;
    height: 200px;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 16px;
    resize: vertical;
  }
  h2{
    font-weight: bold;
    margin-bottom: 5px;
    color: #222;
    text-align: center;
  }

  .container-1 {
    display: flex;
    max-width: 500px;
    
   
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  }
 
  form {
    display: flex;
    flex-direction: column;
  }
  
  label {
    font-weight: bold;
    margin-bottom: 5px;
    color: #222;
  }
  
  input[type="text"],
  textarea {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    margin-bottom: 10px;
  }
  
  input[type="file"] {
    margin-bottom: 20px;
  }
  
  button[type="submit"] {
    background-color: #4b86b4;
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
  }
  .container{
    display: flex;
    
    width: 100%; /* Full width */
    height: 100%; /* Full height */
   
  }
  
  .container-2{
    display: flex;
    flex-direction:row;
    text-align: center;
  
   
  }
  .main-announcement-container-1{
    width: 100%;
    max-width: 100%;  
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    display: flex;
    
  }
 