
.btn {
    cursor: pointer;
    background: #0062ff;
    border: none;
    padding: 13px;
    color: white;
    font-weight: 500px;
    border-radius: 4px;
}

.closebtn{
    background: rgb(78, 78, 78);
    color: white;
    border-radius: 60px;
    padding: 7px;
    padding-left: 12px;
    padding-right: 12px;
    margin-top: -82%;
    margin-right: -110%;
}

.updatebtn {
    cursor: pointer;
    border: 1px solid #8E94A9;
    padding: 11px;
    color: #8E94A9;
    font-weight: 500px;
    border-radius: 4px;
    margin-left: -10px;

}

.updatebtn:hover {
    background: #8E94A9;
    color: white;
}

.deletebtn{
    border: 1px solid #8E94A9;
    padding: 11px;
    color: #8E94A9;
    font-weight: 500px;
    border-radius: 4px;
    margin-right: -10px;
}

.deletebtn:hover {
    background: #8E94A9;
    color: white;
}

.add_clearance {
    display: flex;
    justify-content: left;
    margin-top: 0;
    margin-bottom: 1rem;
}




.add-clearance {
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    visibility: hidden ;
    background-color: rgb(0, 0, 0, 0.5);
    width: 100%;
    height: 150%;
    position: absolute;
    top: 45%;
    left: 62%;
    transform: translate(-50%, -50%);
    transition: 0.4s;
 
   
}

.content {
    opacity: 0;
    visibility: hidden ;
    text-align: center;
    width: 50%;
    height: 300px;
    padding: 30px;
    padding-top: 0px;
    background-color: white;
    box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0);
    transition: 0.4s;
}

.open-popup {
    opacity: 1;
    visibility: visible;
}
.modal-active {
    opacity: 1;
    visibility: visible;
}

.submitButton {
    text-align: center;
    background: #0062ff;
    border: none;
    padding: 13px;
    color: white;
    font-weight: 500px;
    margin-bottom: 1rem;
    margin-top: 2rem;
    border-radius: 4px;
}


/* delete modal */ 

.delete-content {
    opacity: 0;
    visibility: hidden ;
    background-color: white;
    padding: 37px;
    box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0);
}

.delete-clearance{
    opacity: 0;
    visibility: hidden ;
    padding: 20px;
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: rgb(0, 0, 0, 0.5);
    position: absolute;
    top: 60%;
    left: 62%;
    transform: translate(-50%, -50%);
    transition: 0.4s;
}

.open-popup2 {
    opacity: 1;
    visibility: visible;
}
.modal-active2 {
    opacity: 1;
    visibility: visible;

}

.delete-button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0rem;
}

.deleteButton{
    background: #0062ff;
    border: none;
    padding: 10px;
    width: 50px;
    color: white;
    font-weight: 500px;
    margin-bottom: 1rem;
    margin-top: 1.2rem;
    margin-left: 0.2rem;
    border-radius: 4px;
    margin-right: 0.3rem;
    
}

.deleteButton:hover {
    background: #004eca;
}

.delete-option{
    display: flex
}


